/*-----Start Universal ------*/
  @import url('https://fonts.googleapis.com/css?family=Quicksand');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
  @import url('https://fonts.googleapis.com/css?family=Archivo+Black');
  @import "bootstrap-social.css";

  body {
    margin: 0px;
    padding: 0px;
    background: #B6B6B6;
    font-family: 'Quicksand', sans-serif;
    height: 1400px;
  }
/*-----End Universal ------*/


/*-----Start Navbar-------*/
  nav.navbar {
    border: none;
    margin: 0px;
    background: #2b0075;
    box-shadow: 0px 1px 10px black;
    overflow-y: visible;
    border-radius: 0px;
    z-index: 1;
  }

  nav li a:hover {
    box-shadow: 0px 1px 10px black;
  }

  .collapsed {
    background: white;
  }
/*-----End Navbar-------*/


/*-----Start Site Head-------*/

  #imageBox1 {
    min-height: 800px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    }

  .layer {
    height: 800px;
    width: 100%;
    background-size: 100%;
    position: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin: 0px 0px 0px -15px;
    padding: auto;
    text-align: center;
    min-width: 1720px;
  }

  .backgroundLayer {
    background-image: url('./img/./portfolio-top-code-01.png');
  }

  .background-00 {
    background:#d1d1d1;
    height: 960px;
  }

  .background-01 {
    background-image: url('./img/./portfolio-top-black-01.png');
  }

  .background-02 {
    background-image: url('./img/./portfolio-top-code2-01.png');
  }

  .background-03 {
    background-image: url('./img/./portfolio-top-code3-01.png');
  }

  .background-04 {
    background-image: url('./img/./flippedGreen-01.png');
    background-position: 200px 8%;
  }

  .background-05 {
    background-image: url('./img/./flippedPurple-01.png');
    background-position: -300px 40%;
  }

  .background-06 {
    background-image: url('./img/./flippedBlue-01.png');
    background-position: -300px 50%;
  }


  .main-header {
    position: relative;
    margin: auto;
    padding: auto;
    text-align: center;
    top: 100px;
    font-size: 25px;
    max-width: 800px;
  }

  .main-header h1 {
    color: #00A99D;
    margin: auto;
    padding: auto;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
  }
/*-----End Site Head-------*/

/*-----Start About-------*/
  .myImage {
    background-image: url("./img/me.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 1px 10px black;
  }

  .aboutMe {
    position: relative;
    top: -190px;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }

  .aboutMe-text {
    text-align: left;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
  }

  .aboutMe-title {
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
  }

  .aboutMe-details {
    color: black;
  }
/*-----End About-------*/


/*-----Start Portfolio-------*/
  .portfolio {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -190px;
    padding-top: 30px;
    z-index: -1;
  }

  .portfolio h1 {
    font-size: 50px;
  }

  .portfolio-row {
    text-align: center;
    margin-top: 70px;
  }

  .portfolio .col-md-4 {
    margin-top: 35px;
  }

  .project {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
  }

  #project-wrap {
    overflow: hidden;
    width: 350px;
    height: 350px;
    box-shadow: 0px 1px 10px black;
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  /*----*/
    #project1 {
      background-image: url("./img/teeleeproject.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s
    }
    #project-wrap:hover #project1 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/teeleeproject.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project2 {
      background-image: url("./img/dimension.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }
    #project-wrap:hover #project2 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/dimension.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project3 {
      background-image: url("./img/primetime.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }
    #project-wrap:hover #project3 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/primetime.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project4 {
      background-image: url("./img/hungr.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project4 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/hungr.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project5 {
      background-image: url("./img/pixelbrew.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project5 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/pixelbrew.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project6 {
      background-image: url("./img/promotionals.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project6 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/promotionals.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project7 {
      background-image: url("./img/corgicare.png");
      background-position: 50% 80%;
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project7 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/corgicare.png");
        background-position: 50% 80%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project8 {
      background-image: url("./img/jcweaverart.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project8 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/jcweaverart.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project9 {
      background-image: url("./img/tribute.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project9 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/tribute.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project10 {
      background-image: url("./img/flashcards.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project10 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/flashcards.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project11 {
      background-image: url("./img/calculator.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project11 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/calculator.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

  /*----*/
    #project12 {
      background-image: url("./img/simon.png");
      transition: transform 1s; 
      -webkit-transition: -webkit-transform 1s;
    }

    #project-wrap:hover #project12 {
      background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7)),
        url("./img/simon.png");
        background-position: 50% 50%;
        transform: scale(1.5); -webkit-transform: scale(1.5);
    }
  /*----*/

/*-----End Portfolio-------*/


/*-----Start Contact-------*/
    .contact {
    
      background: rgba(255, 255, 255, 0.7);
      padding-bottom: 90px;
      padding-top: 50px;
      margin: 0px;
      border-top: 1px solid black;
      box-shadow: 0px 1px 10px black;
      overflow: hidden;
    }

    .contact h1 {
      font-size: 80px;
    }

    .contact-header {
      margin-bottom: 40px;
    }

    form {
      border-top: 2px solid #9E9E9E;
      border-bottom: 2px solid #9E9E9E;
      padding: 40px;
      text-align: center;
      
    }
    
    form input, textarea {
      border: none;
      background: none;
      border-bottom: 1px solid black;
      border-radius: 0%;
      padding: 10px;
      margin-bottom: 40px;
      font-size: 20px;
    }

    input:focus {
      outline: none;
    }

    textarea:focus {
      outline: none;
    }

    #send:focus {
      outline: none;
    }

    form label {
      font-size: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
      font-family:sans-serif;
    }

    #send {
      background:rgba(255, 255, 255, 0.2);
      border: none;
      padding: 10px 40px;
      box-shadow: 0px 1px 10px black;
      font-size: 20px;
    }

    #send:hover {
      background: #15748B;
      color: white;
    }

/*-----End Contact-------*/


/*-----Start Site Footer-------*/

  .footer {
    text-align: center;
    color: #A1A1A1;
    background: black;
  }

  .connect {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }

  .rights-reserved {
    padding-top: 30px;
    padding-bottom: 30px;
    background:#270066 ;
  }

  .btn-twitter {
    background: #0F767E;
    color: white;    
  }

  .btn-github {
    background: #0F767E;
    color: white;
  }

  .btn-linkedin {
    background: #0F767E;
    color: white;
  }

  .btn-instagram {
    background: #0F767E;
    color: white;
  }

/*-----End Site Footer-------*/


/*-----Start Media Queries-------*/
  @media(max-width: 992px) {
    .aboutMe-text {
      text-align: center;
      padding: auto;
      margin: auto;
    }
    .aboutMe {
      text-align: center;
      top: -250px;
    }
    .myImage {
      padding: auto;
      margin: auto;
    }
    .main-header {
      padding: 0px 30px 0px 30px;
    }

    .aboutMe-text {
      margin-top: 40px;
    }

  }
/*-----End Media Queries-------*/